.aboutIcon{ position: absolute; }
.aboutIcon1{width: 12.5%;left: 3.4%; top: 127%;opacity: 0;}
.aboutIcon2{width: 14.5%;right: 6.7%;top: 170%;opacity: 0;}
.aboutIcon3{width: 12.5%;left: 4.7%; top: 241%;}
.aboutIcon4{width: 12.5%;right: 6.7%;top: 340%;opacity: 0;}
.aboutIcon5{width: 13.1%;left: 6.2%; top: 400%;opacity: 0;}





.block {
	margin: 0 auto 50px;
	user-select: none;
	-webkit-user-select: none;
}
.block>p {
    margin: 0 auto;
	width: 50%;
    line-height: 3em;
    text-align: center;
    font-size: 16px;
    color: #878787;
}
.block b{ color: #333; }

.header{ margin: 0 auto 30px; }
.about01 {
	padding-top: 190px;
	height: 918px;
	background-size: 100% auto;
	background-image: url(../images/about/about01.png);
	background-repeat: no-repeat;
}
.about01_title { width: 20%; }
.about01_sub {   width: 53.6%; margin: 50px auto 0; }
.about02p_title {width: 6.7%; }
.about03_title{  width: 15.2%; }
.about06_title{  width: 6.3%; }