.wrap{
    overflow-x: hidden;
    overflow-y: scroll;
}
.connect_title{
	margin-top: 50px;
}
.wrap p{
    margin: 0 auto 50px;
    line-height: 1.5em;
    text-align: center;
    font-size: 16px;
    color: #878787;
}
.map{
	margin: 0 auto;
	/* width: 46.8%; */
	width: 35%;
}