.wrap{ padding-top: 1rem; }
.connect_title{ margin-top: .5rem; }
.block>p {
    margin: 0 auto .5rem;
    line-height: 1.5em;
    text-align: center;
    font-size: .16rem;
    color: #878787;
}
.map {
	margin: 0 auto;
	width: 35%;
}