.projectWrap{
    margin-bottom: 50px;
	padding-left: 70px;
	overflow: hidden;
}
.projectWrap .box{
	position: relative;
	float: left;
	width: 25%;
	height: 35%;
	overflow: hidden;
}
.boxB{background-color:#54bdc3;}
.boxY{background-color:#dfd22b;}
.boxG{background-color:#9fca45;}
.boxP{background-color:#6f6cb1;}
.boxR{background-color:#dd4c77;}

.projectWrap .mask{
	position: absolute;
	display: table;
	top: 0;
	width: 100.5%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0;
}
.projectWrap .words{
	display: table-cell;
	padding: 0 13%;
	vertical-align: middle;
	text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-indent: 1px;
    line-height: 1.5em;
	color: #fff;
}
.boxImg{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform:translate(-50%,-50%);
}
.header{text-align: center;}
.title{
    margin: 0 auto 10px;
    padding: 3px 0;
    display: block;
    width: 140px;
    text-align: center;
    background-color: #e9515d;
    color: #fff;
}

.projectDetail img{
	margin: 0 auto 10px;
	width: 100%;
	max-width: 1200px;
}


#backToProject,#toTop{
    position: fixed;
    right: 50px;
    width: 46px;
    height: 46px;
    background-color: #ccc;
    color: #fff;
    z-index: 99;
    opacity: 0.8;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#backToProject{
    bottom: 81px;
    padding: 3px 0;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    letter-spacing: 2px;
    text-indent: 2px;
}
#toTop{
	display: none;
    bottom: 30px;
    cursor: pointer;
}