@import 'global';
@import 'icon-title';

.aboutIcon{ position: absolute; }
.aboutIcon1{width: 12.5%;left: 3.4%; top: 127%;opacity: 0;}
.aboutIcon2{width: 14.5%;right: 6.7%;top: 170%;opacity: 0;}
.aboutIcon3{width: 12.5%;left: 4.7%; top: 241%;}
.aboutIcon4{width: 12.5%;right: 6.7%;top: 340%;opacity: 0;}
.aboutIcon5{width: 13.1%;left: 6.2%; top: 400%;opacity: 0;}





// 图片
.aboutImg {
	margin: 0 auto;
	width: 70%;
}
.idea{ width: 50%; }
// 文章
article {
	margin: 0 auto .3rem;
	width: 70%;
	p {
		line-height: 3em;
		text-align: center;
		font-size: .24rem;
		color: $fontColor;
	}
	b{ color: $titleColor }
}





@media screen and (max-width: 640px) {
	article, .aboutImg { width: 90%; }
	article p {
		line-height: 1.2em;
		margin-bottom: .2rem;
	}
	.aboutIcon{	display: none; }
}