@import 'global';
@import 'icon-title';

.projectWrap {
    margin-bottom: .5rem;
	padding-left: .7rem;
	overflow: hidden;
	.box {
		position: relative;
		float: left;
		width: 25%;
		height: 35%;
		overflow: hidden;
	}
	.mask {
		position: absolute;
		display: table;
		top: 0;
		width: 100.5%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		opacity: 0;
	}
	.words {
		display: table-cell;
		padding: 0 13%;
		vertical-align: middle;
		text-align: center;
		font-size: .18rem;
		letter-spacing: 1px;
		text-indent: 1px;
		line-height: 1.5em;
		color: #fff;
	}
}
.h5Wrap{
	.box{
		position: relative;
		margin-bottom: .3rem;
	}
	iframe {
		position: relative;
		margin: 0 auto;
		display: block;
		width: 3.2rem;
		height: 5.7rem;
	}
	img {
		position: absolute;
		top: 50%;
		left: 70%;
		-webkit-transform: translateY(-50%);
		width: 2rem;
	}
	@media screen and (max-width: 640px) {
		iframe { margin: 0 .3rem; }
		img{ left:unset;right: .3rem; }
	}
}

.boxB{background-color:#54bdc3;}
.boxY{background-color:#dfd22b;}
.boxG{background-color:#9fca45;}
.boxP{background-color:#6f6cb1;}
.boxR{background-color:#dd4c77;}




.boxImg{
	position: absolute;
	width: 50%;
	left: 50%;
	top: 50%;
	-webkit-transform:translate(-50%,-50%);
}
.header{text-align: center;}
.title{
    margin: 0 auto .1rem;
    padding: 3px 0;
    display: block;
    width: 1.4rem;
    text-align: center;
    background-color: #e9515d;
    color: #fff;
}





// 二级页面
.projectDetail img{
	margin: 0 auto .1rem;
	width: 100%;
	max-width: 1200px;
}
.is-loading { width: 20% !important; }
@mixin projectBtns {
    position: fixed;
    right: .5rem;
    width: .5rem;
    height: .5rem;
    background-color: #ccc;
    color: #fff;
    z-index: 99;
    opacity: 0.8;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#backToList{
    bottom: 1rem;
    padding: 3px 0;
    font-size: .16rem;
    text-align: center;
    line-height: .2rem;
    letter-spacing: 2px;
    text-indent: 2px;
	@include projectBtns;
}
#toTop{
	display: none;
    bottom: .3rem;
	font-size: .26rem;
    cursor: pointer;
	@include projectBtns;
}




@media screen and (max-width: 640px) {
	.projectWrap { padding-left: 0; }
	.projectWrap .box { height: 20%; }
}
